
<!DOCTYPE html>
<html>
#parse('admin/layout/header.vm')
<body class="fixed-left">
<div id="wrapper">
#parse('admin/layout/topbar.vm')
#parse('admin/layout/sidebar.vm')
        <script src="//cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
        <script src="/static/admin/js/base.js?v=v1.0"></script>
    <div class="content-page">
        <div class="content">
            <div class="container">
$screen_content
#parse('admin/layout/footer.vm')
            </div>
        </div>
        <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdn.bootcss.com/limonte-sweetalert2/6.4.1/sweetalert2.min.js"></script>
        <script src="/static/admin/js/jquery.app.js?v=v1.0"></script>
    </div>
</body>
</html>
