            <div id="footer">Copyright © 2017
                <a href="/" rel="nofollow">屠城</a> |
                <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备15030820号</a> |&nbsp
                <img src="/static/default/img/beian.png" style="margin-bottom: -4px;" class="nofancybox"/>
                <a rel="nofollow" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502030691">京公网安备11010502030691号</a>
                <br />
                <a rel="nofollow" target="_blank" href="https://www.bitmoe.com">
                    <img src="/static/default/img/bitmoe.png" alt="bitmoe" class="nofancybox"/>
                </a>
                <br/>
                <a rel="nofollow" target="_blank" href="https://www.upyun.com">
                    <img src="/static/default/img/upyun.png" alt="upyun" class="nofancybox"/>
                </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a rel="nofollow" target="_blank" href="https://portal.qiniu.com/signup?code=3ljlduc9le6oi">
                    <img src="/static/default/img/qiniu.png" alt="qiniu" class="nofancybox"/>
                </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a rel="nofollow" target="_blank" href="http://www.qcloud.com/redirect.php?redirect=1001&amp;cps_key=4a598ae1538888c04f330acf8b66e6c7">
                    <img src="/static/default/img/qcloud.png" alt="qcloud" class="nofancybox"/>
                </a>
            </div>
